@model Gazette.Infrastructure.ArchiveEntry[]

<div class="widget" id="archives">
    <h2>Archives</h2>
    <ul>
        @foreach (var entry in Model)
        {
            var label = string.Format("{0} ({1})", entry.Month.ToString("Y"), entry.Count);
            <li>@Html.ActionLink(label,"Index",new { year = entry.Month.Year, month = entry.Month.Month})</li>
        }
    </ul>
</div>

